<ion-view view-title="Pantalla de inicio">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Versión actual</div>
      <div class="item item-body">
        <div>
           Versión <b>1 Beta</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Autor</div>
      <div class="item item-body">
        <div>
          Daniel Fernando Ken Constantino
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
